.footerBlack {
	background-color: rgba(0, 0, 0, 0.85);
	padding: 20px 0px;
}
.footerBlack__container {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.footerBlack__card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: fit-content;
	padding: 10px 20px;
	border-right: 2px solid var(--black);
}
.footerBlack__card:last-of-type {
	border-right: 0px;
}
.footerBlack__card span {
	width: 100%;
	margin: 5px 0px;
}
.footerBlack__card h5 {
	font-family: CenturyBOLD;
	font-size: 1.2rem;
	font-weight: bold;
}
.footerBlack__card p {
	font-size: 1.2rem;
}
.footerBlack__card ul {
	display: flex;
}
.footerBlack__card ul li {
	margin: 0px 10px;
}
.footerBlack__card ul a {
	font-size: 4rem;
	color: var(--black);
	line-height: 0;
}
.footerBlack__card img {
	width: 180px;
	height: auto;
	margin: 5px 0px;
}
.footerBlack__mobile {
	display: none;
}
.footerBlack__card,
.footerBlack__card span,
.footerBlack__card ul a {
	color: white;
}
.footerBlack__card {
	border-right: 2px solid white;
}
@media (max-width: 1050px) {
	.footerBlack {
		background-image: url('../../../public/assets/BG_Lineas-de-Negocio.png');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		padding: 30px 0px 60px 0px;
		border-top: 2px solid white;
	}
	.footerBlack__container {
		flex-direction: column;
	}
	.footerBlack__card,
	.footerBlack__card ul a {
		border-right: 0px;
		color: white;
	}
	.footerBlack__card span {
		display: block;
		position: relative;
		padding-left: 15px;
		color: white;
	}
	.footerBlack__card span::before {
		content: '';
		display: block;
		position: absolute;
		top: 4px;
		left: 0px;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		background-color: var(--yellow);
	}
	.footerBlack__container .footerBlack__card:nth-child(-n + 3) {
		align-self: flex-start;
		padding: 0px 20px 0px 10px;
	}
	.footerBlack__container .footerBlack__card:nth-child(4) {
		align-self: flex-end;
	}
	.footerBlack__container .footerBlack__card:nth-child(4) h5 {
		font-size: 2rem;
	}
	.footerBlack__container .footerBlack__card:last-child {
		flex-direction: row;
		gap: 10px;
		padding: 0px;
	}
	.footerBlack__card picture {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.footerBlack__card img {
		width: 150px;
	}
	.footerBlack__mobile {
		display: flex;
		align-items: center;
		position: fixed;
		bottom: 0px;
		left: 0px;
		width: 100%;
		height: 38px;
		background-color: var(--yellow);
		z-index: 6;
	}
	.footerBlack__mobile .container {
		display: flex;
		align-items: center;
		justify-content: space-around;
		max-width: 380px;
	}
	.footerBlack__mobile .header__search {
		padding: 5px 0px;
	}
	.footerBlack__mobile span {
		display: block;
		width: 2px;
		height: 25px;
		background-color: white;
		margin: 0px 5px;
	}
	.footerBlack__mobile .container a {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 3rem;
		color: white;
	}
	.footerBlack__container .footerBlack__card:nth-child(-n + 4) {
		display: none;
	}
	.footerBlack {
		background-image: none;
		background-color: var(--black);
	}
	.footerBlack__card {
		border-right: 0px;
	}
	.footerBlack__follow-mobile,
	.footerBlack__follow-mobile ul {
		display: flex;
		color: white;
	}
	.footerBlack__follow-mobile p {
		font-size: 2.4rem;
	}
	.footerBlack__follow-mobile li {
		display: flex;
		align-self: center;
		margin: 0px 5px;
	}
	.footerBlack__mobile .footerBlack__follow-mobile a {
		font-size: 3.5rem;
	}
}
