.portfolio__content {
	background-image: url('../../public/assets/BG_Lineas-de-Negocio.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.posts__content {
	display: grid;
	padding: 50px 40px;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: 240px;
	gap: 24px;
}
