.welcome__page {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
	width: 100%;
}
.header__welcome {
	padding: 40px 0px;
	background-color: var(--black);
}
.header__welcome .container {
	display: grid;
	grid-template-columns: 60% 1fr;
	gap: 10px;
}
.header__welcome-title {
	display: flex;
	align-items: center;
}
.header__welcome-title h1 {
	font-weight: 100;
	font-size: 2.4rem;
	line-height: 1;
	color: white;
}
.header__welcome-title i {
	margin-left: 20px;
	font-size: 3rem;
	color: var(--yellow);
}
.header__welcome-btn {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
.header__welcome-btn span {
	width: 1px;
	height: 100%;
	background-color: white;
}
.logo__mobile {
	display: none;
}
.btn__lenguage {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 200px;
	background-color: transparent;
	outline: none;
	border: 0px;
	cursor: pointer;
}
.btn__lenguage h4 {
	font-size: 1.8rem;
	color: var(--yellow);
	font-weight: 100;
	letter-spacing: 8px;
}
.btn__lenguage img {
	width: 100px;
	height: auto;
	object-fit: contain;
	margin: 5px 0px;
}
.btn__lenguage h3 {
	font-size: 2rem;
	color: white;
	letter-spacing: 4px;
}

.footer {
	background-color: var(--black);
}
.footer__card,
.footer__card span,
.footer__card ul a {
	color: white;
}
.footer__card {
	border-right: 2px solid white;
}

@media (max-width: 1050px) {
	.main__page,
	.header__welcome-title i,
	.header__welcome-btn span,
	.footer__container .footer__card:nth-child(-n + 4) {
		display: none;
	}
	.welcome__page header {
		height: calc(100vh - 130px);
	}
	.header__welcome {
		background-image: url('../../public/assets/BG_Maps.png');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		background-color: transparent;
		padding: 50px 0px 20px;
		height: 100%;
	}
	.header__welcome .container {
		grid-template-columns: 1fr;
		height: 100%;
		gap: 0px;
	}
	.header__welcome-btn {
		flex-direction: column;
		justify-content: flex-start;
	}
	.header__welcome-title h1 {
		font-size: 2.2rem;
		padding: 0px 20px;
	}
	.logo__mobile {
		position: absolute;
		top: 0px;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		height: 50px;
		width: 100%;
		padding: 10px 20px;
		background-color: rgba(0, 0, 0, 0.4);
	}
	.logo__mobile img {
		height: 30px;
		width: auto;
	}
	.btn__lenguage {
		width: 250px;
		margin: 10px 0px;
		padding: 20px 20px;
		background-color: var(--black);
		border-radius: 8px;
	}
	.footer {
		background-image: none;
		background-color: var(--black);
	}
	.footer__card {
		border-right: 0px;
	}
	.footer__follow-mobile,
	.footer__follow-mobile ul {
		display: flex;
		color: white;
	}
	.footer__follow-mobile p {
		font-size: 2.4rem;
	}
	.footer__follow-mobile li {
		display: flex;
		align-self: center;
		margin: 0px 5px;
	}
	.footer__mobile .footer__follow-mobile a {
		font-size: 3.5rem;
	}
}
