.news {
	background-color: var(--black);
	padding: 30px 0px;
}
.news__container {
	display: grid;
	grid-template-columns: 300px 1fr;
	gap: 20px;
}
.news__title h2 {
	font-family: CenturyBOLD;
	font-size: 6rem;
	color: var(--yellow);
	margin-bottom: 10px;
	line-height: 1;
}
.news__title h2 span {
	font-family: CenturyBOLD;
	color: white;
}
.news__title a {
	font-size: 1.6rem;
	color: white;
	text-decoration: underline;
}
.new__items {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 30px;
}
.new__items picture {
	display: block;
	width: 100%;
	height: 120px;
}
.new__items img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.news__items-article {
	font-size: 1.2rem;
	color: white;
	background-color: #454545;
	padding: 10px;
}
.news__items-btn {
	display: none;
}
@media (max-width: 1050px) {
	.news__container {
		grid-template-columns: 1fr;
	}
	.new__items picture,
	.new__items a {
		height: 100%;
	}
	.new__items {
		padding: 10px;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		gap: 10px;
		background-color: #414141;
		border-radius: 8px;
	}
	.news__items-article,
	.news__title a {
		display: none;
	}
	.new__items img {
		border-radius: 6px;
	}
	.new__items li {
		display: flex;
		align-items: center;
	}
	.news__items-btn a {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		font-size: 2.4rem;
		color: var(--yellow);
		padding: 20px 10px;
		background-color: #505050;
		border-radius: 6px;
	}
}
