.investigation__header {
	background-image: url('../../../public/assets/laboratory-gray.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 250px;
	padding-top: 47.5px;
	padding-bottom: 50px;
}
.investigation__header .container {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	height: 100%;
}
.investigation__header article {
	background-color: rgba(0, 0, 0, 0.5);
	padding: 5px;
	border-radius: 4px;
}
.investigation__header article h1 {
	font-family: CenturyBOLD;
	font-size: 4.8rem;
	color: white;
	line-height: 1;
}
.investigation__content {
	padding: 30px 0px;
	background-color: var(--black);
}
.investigation__content .container {
	display: grid;
	align-items: center;
	grid-template-columns: 1fr 200px;
	gap: 20px;
}
.investigation__content .container article {
	position: relative;
	background-color: black;
	color: white;
	padding: 20px 20px 40px 20px;
	border-radius: 8px;
}
.investigation__content .container article a {
	font-family: CenturyBOLD;
	font-style: italic;
	position: absolute;
	right: 20px;
	bottom: 20px;
	color: var(--yellow);
	font-size: 1.6rem;
}
.investigation__content .container article p {
	font-size: 1.4rem;
	text-align: justify;
}
.investigation__content .container > a {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	height: 180px;
	background-color: #2a2a2a;
	padding: 15px;
	border-radius: 8px;
}
.investigation__content .container > a p {
	font-family: CenturyBOLD;
	font-size: 2.8rem;
	line-height: 0.8;
	color: var(--yellow);
}
.investigation__content .container > a svg {
	font-size: 4rem;
	color: var(--yellow);
}
.teamInvestigation__content {
	background-image: url('../../../public/assets/BG_lineas.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 30px 0px;
}
.teamInvestigation__content h2 {
	font-family: CenturyBOLD;
	font-size: 3.2rem;
	color: var(--yellow);
}
.teamInvestigation__items .teamInvestigation__item {
	margin: 20px 0px;
}
.teamInvestigation__items .teamInvestigation__item:nth-child(odd) {
	display: grid;
	grid-template-columns: 200px 40px 1fr;
	align-items: center;
	gap: 10px;
}
.teamInvestigation__items .teamInvestigation__item:nth-child(even) {
	display: grid;
	grid-template-columns: 1fr 40px 200px;
	align-items: center;
	gap: 10px;
}
.teamInvestigation__items img {
	width: 100%;
}
.teamInvestigation__items svg {
	color: var(--yellow);
	font-size: 4rem;
	text-align: center;
}
.teamInvestigation__items article {
	position: relative;
	background-color: black;
	padding: 20px 20px 40px 20px;
	border-radius: 8px;
	color: white;
}
.teamInvestigation__items p {
	text-align: justify;
	font-size: 1.4rem;
}
.teamInvestigation__items a {
	position: absolute;
	right: 20px;
	bottom: 15px;
	font-family: CenturyBOLD;
	color: var(--yellow);
	font-size: 1.4rem;
}
.laboratory {
	background-color: var(--black);
	padding: 20px 0px;
}
.laboratory h2 {
	font-family: CenturyBOLD;
	font-size: 3.2rem;
	color: var(--yellow);
}
.laboratory img {
	height: 300px;
	width: 100%;
	object-fit: cover;
	margin: 10px 0px;
}
.laboratory__content {
	display: grid;
	grid-template-columns: 1fr 40%;
	align-items: center;
	gap: 10px;
	background-color: #2a2a2a;
	padding: 20px;
	border-radius: 8px;
}
.laboratory__content article p {
	text-align: justify;
	font-size: 1.4rem;
	color: white;
}
.laboratory__content a {
	display: flex;
	justify-content: center;
}
.laboratory__content a p {
	text-align: right;
	font-family: CenturyBOLD;
	font-size: 2rem;
	line-height: 0.8;
	color: white;
	max-width: 200px;
}
.laboratory__content a svg {
	font-size: 4rem;
	color: var(--yellow);
}
@media (max-width: 1050px) {
	.container {
		padding: 0px 16px;
	}
}
@media (max-width: 850px) {
	.investigation__content .container,
	.laboratory__content {
		grid-template-columns: 1fr;
	}
	.investigation__content .container > a,
	.teamInvestigation__items p,
	.laboratory img {
		display: none;
	}
	.teamInvestigation__items a {
		position: static;
	}
	.teamInvestigation__items .teamInvestigation__item:nth-child(odd),
	.teamInvestigation__items .teamInvestigation__item:nth-child(even) {
		grid-template-columns: 1fr 40px 1fr;
		background-color: black;
		padding: 20px;
		border-radius: 8px;
	}
	.teamInvestigation__items article {
		padding: 10px;
	}
	.teamInvestigation__items a {
		text-align: center;
		font-size: 2rem;
	}
	.investigation__header {
		background-image: none;
		background-color: var(--black);
		height: auto;
		padding-bottom: 0px;
	}
	.investigation__header .container {
		justify-content: flex-start;
	}
	.investigation__header article {
		background-color: transparent;
	}
	.investigation__header article h1 {
		font-size: 3.2rem;
	}
	.laboratory h2,
	.teamInvestigation__content h2 {
		font-size: 2rem;
	}
	.laboratory h2 {
		text-align: center;
		margin-bottom: 20px;
	}
	.laboratory__content {
		gap: 30px;
	}
}
