.news__header {
	background-image: url(../../../public/assets/ENTREGA_CMC_DCC.jpg);
	background-position: 0px -220px;
	background-size: cover;
	background-repeat: no-repeat;
	height: 250px;
	padding-top: 47.5px;
	padding-bottom: 50px;
}
.news__header .container {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	height: 100%;
}
.news__header article {
	background-color: rgba(0, 0, 0, 0.5);
	padding: 5px;
	border-radius: 4px;
}
.news__header article h1 {
	font-family: CenturyBOLD;
	font-size: 4.8rem;
	color: white;
	line-height: 1;
}
.news__content {
	background-color: var(--black);
	padding: 10px 0px 30px;
	min-height: 85vh;
}
.news__content .container article {
	display: grid;
	grid-template-columns: 1fr 2px 350px;
	align-items: center;
	padding: 20px 0px;
	gap: 10px;
}
.news__content .container article p {
	font-family: CenturyBOLD;
	font-size: 1.6rem;
	color: white;
}
.news__content .container article span {
	width: 2px;
	height: 100%;
	background-color: white;
}
.news__content-article a {
	display: flex;
	align-items: center;
}
.news__content .news__content-article a p {
	font-family: CenturyBOLD;
	font-size: 2.4rem;
	color: var(--yellow);
	background-color: transparent !important;
	line-height: 1;
}
.news__content-article a svg {
	font-size: 4rem;
	color: var(--yellow);
}
.news__list {
	display: grid;
	gap: 30px;
	width: 100%;
	margin-top: 20px;
}
.news__list li {
	width: 100%;
}
.news__individual {
	position: relative;
	display: grid;
	grid-template-columns: 300px 1fr;
	grid-area: 10px;
	gap: 20px;
	padding: 15px;
	width: 100%;
	border-radius: 8px;
	border: 1px solid white;
}
.news__individual-img {
	width: 100%;
	height: 150px;
	object-fit: cover;
}
.news__individual-text .news__title {
	font-family: CenturyBOLD;
	font-size: 1.4rem;
	margin-bottom: 10px;
}
.news__individual-text p {
	text-align: justify;
	font-size: 1.4rem;
	color: white;
}
.viewMore {
	font-family: CenturyBOLD;
	color: var(--yellow);
	font-style: italic;
	position: absolute;
	right: 15px;
	bottom: 15px;
	font-size: 1.2rem;
}
.news__content-articleMobile {
	display: none !important;
}
@media (max-width: 1050px) {
	.container {
		padding: 0px 16px;
	}
}
@media (max-width: 850px) {
	.news__header,
	.news__content .container article {
		display: none;
	}
	.news__content-articleMobile {
		display: none;
	}
	.news__individual {
		grid-template-columns: 1fr 45%;
		border: 0px;
		background-color: #3d3d3d;
		padding: 10px;
		gap: 15px;
	}
	.news__individual-text p:last-child {
		display: none;
	}
	.news__individual-img {
		border-radius: 8px;
	}
	.news__content-articleMobile {
		display: grid !important;
		grid-template-columns: 60% 1fr !important;
		gap: 10px;
		padding-top: 50px !important;
	}
	.news__content-articleMobile > p {
		font-size: 3.2rem !important;
		line-height: 0.8;
	}
	.news__content-articleMobile > p span {
		font-size: 4rem !important;
		font-family: CenturyBOLD;
		color: var(--yellow);
		background-color: transparent !important;
	}
	.news__content-articleMobile a {
		display: flex;
		align-items: center;
	}
	.news__content-articleMobile a p {
		font-family: Century !important;
	}

	.news__content-articleMobile a svg {
		font-size: 3.2rem;
		color: var(--yellow);
	}
}
