.contracts {
	background-color: var(--black);
	padding: 100px 0px 60px 0px;
	min-height: 85vh;
}
.contracts h1 {
	font-family: CenturyBOLD;
	font-size: 4.8rem;
	color: white;
	line-height: 1;
}
.contracts__top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.contracts__top a {
	display: flex;
	align-items: center;
	max-width: 200px;
}
.contracts__top a svg {
	font-size: 4rem;
	color: var(--yellow);
}
.contracts__top a p {
	font-family: CenturyBOLD;
	font-size: 2rem;
	color: var(--yellow);
}
.contracts__down {
	margin-top: 40px;
}
.contracts__down ul {
	display: grid;
	gap: 20px;
}
.contracts__down ul li {
	background-color: rgb(79, 79, 79);
	padding: 20px;
}
.contracts__down ul li.headTable {
	background-color: transparent;
}
.contracts__down ul li.headTable p {
	text-align: center;
	font-size: 2rem;
	color: white;
}
.contracts__down ul li.headTable .center {
	border-left: 1px solid white;
	border-right: 1px solid white;
}
.contracts__down ul li div {
	display: flex;
	justify-content: center;
	align-items: center;
}
.contracts__down ul li p {
	text-align: center;
}
.contracts__down ul li.headTable,
.contracts__down ul li a {
	display: grid;
	grid-template-columns: 150px 150px 150px 1fr 150px 150px;
	gap: 10px;
}
.contracts__down ul li a > div svg {
	font-size: 2rem;
	color: white;
	margin-right: 10px;
}
.contracts__down ul li a p {
	font-size: 1.4rem;
	color: white;
}
.contracts__down ul .center p,
.contracts__down ul .left {
	text-align: center;
	justify-content: center;
}
.contract__internal {
	display: grid;
	grid-template-columns: 150px 150px 150px 1fr 150px 150px;
	gap: 10px;
}
.contract__internal p {
	color: white;
	text-align: center;
	font-size: 1.4rem;
}
.contract__documents h2 {
	color: white;
	font-size: 2.4rem;
	margin-bottom: 20px;
}
.contract__documents a {
	display: flex;
	width: 100%;
	color: white;
	font-size: 1.4rem;
	background-color: rgb(79, 79, 79);
	padding: 10px;
}
.contract__documents a svg {
	font-size: 2rem;
	margin-right: 20px;
}
