.laboratory__header {
	background-image: url('../../../public/assets/laboratory-gray.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 250px;
	padding-top: 47.5px;
	padding-bottom: 50px;
}
.laboratory__header .container {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	height: 100%;
}
.laboratory__header article {
	background-color: rgba(0, 0, 0, 0.5);
	padding: 5px;
	border-radius: 4px;
	max-width: 600px;
}
.laboratory__header article h1 {
	font-family: CenturyBOLD;
	font-size: 3rem;
	color: white;
	line-height: 1;
}
.laboratory__article {
	background-image: url('../../../public/assets/BG_lineas.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.laboratory__article-top {
	display: grid;
	grid-template-columns: 1fr 2px 350px;
	align-items: center;
	padding: 20px 0px;
	gap: 10px;
}
.laboratory__article-top > p {
	font-family: CenturyBOLD;
	font-size: 1.6rem;
	color: white;
}
.laboratory__article-top a {
	display: flex;
	align-items: center;
	max-width: 200px;
}
.laboratory__article-top a svg {
	font-size: 4rem;
	color: var(--yellow);
}
.laboratory__article-top a p {
	font-family: CenturyBOLD;
	font-size: 2.4rem;
	color: var(--yellow);
	background-color: transparent !important;
	line-height: 1;
}
.laboratory__article-top span {
	width: 2px;
	height: 100%;
	background-color: white;
}
.laboratory__article-down {
	padding: 20px 0px;
}
.laboratory__article-down .content {
	background-color: rgba(0, 0, 0, 0.5);
	padding: 20px;
	border-radius: 8px;
}
.laboratory__article-down .content p {
	font-family: CenturyBOLD;
	font-size: 2rem;
	color: white;
}
.laboratory__article-down .content ul {
	margin-top: 1rem;
}
.laboratory__article-down .content li {
	position: relative;
	padding-left: 2rem;
}
.laboratory__article-down .content li::before {
	position: absolute;
	content: '';
	left: 1rem;
	top: 10px;
	width: 4px;
	height: 4px;
	background-color: var(--yellow);
	border-radius: 50%;
}
.laboratory__article-down .content li p {
	color: var(--yellow);
	font-size: 1.6rem;
	font-family: Century;
}
.laboratory__pdf {
	background-image: url('../../../public/assets/BG_Lineas-de-Negocio.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 30px 0px;
}
.laboratory__pdf ul {
	display: grid;
	gap: 20px;
}
.laboratory__pdf ul li {
	display: grid;
	grid-template-columns: 1fr 2px 200px;
	align-items: center;
	gap: 10px;
	padding: 20px;
	border-radius: 8px;
}
.laboratory__pdf ul li .name {
	font-family: CenturyBOLD;
	font-size: 3.2rem;
	color: var(--yellow);
	max-width: 550px;
}
.laboratory__pdf ul li:nth-child(odd) {
	background-color: rgba(0, 0, 0, 0.5);
}
.laboratory__pdf ul li:nth-child(even) {
	background-color: rgba(98, 98, 98, 0.5);
}
.laboratory__pdf ul li span {
	width: 2px;
	height: 100%;
	background-color: white;
}
.laboratory__pdf ul li a {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}
.laboratory__pdf ul li .description {
	font-size: 1.4rem;
	color: white;
	margin-bottom: 1rem;
}
.laboratory__pdf ul li .link {
	font-size: 1.2rem;
	color: var(--yellow);
}
@media (max-width: 1050px) {
	.container {
		padding: 0px 16px;
	}
	.laboratory__article-top,
	.laboratory__article-down {
		padding: 20px 16px !important;
	}
}
@media (max-width: 850px) {
	.laboratory__header {
		background-image: none;
		background-color: var(--black);
		height: auto;
		padding-bottom: 20px;
	}
	.laboratory__header article {
		background-color: transparent;
	}
	.laboratory__header article h1 {
		font-size: 2.2 rem;
		text-align: center;
	}
	.laboratory__article-top {
		grid-template-columns: 1fr;
	}
	.laboratory__article-top a {
		grid-row-start: 1;
	}
	.laboratory__article-top a p {
		font-size: 1.6rem;
	}
	.laboratory__article-top span {
		display: none;
	}
	.laboratory__pdf ul li .name {
		font-size: 2.4rem;
	}
	.laboratory__pdf ul li {
		grid-template-columns: 1fr 2px 120px;
	}
}
@media (max-width: 500px) {
	.laboratory__pdf .container {
		padding: 0px;
	}
	.laboratory__pdf ul li {
		padding: 10px;
		grid-template-columns: 1fr 2px 120px;
	}
	.laboratory__pdf ul li .name {
		font-size: 1.8rem;
	}
	.laboratory__pdf ul li .description {
		font-size: 1.2rem;
	}
	.laboratory__pdf ul li .link {
		font-size: 1rem;
	}
}
