.bussines {
	background-image: url('../../../public/assets/BG_Lineas-de-Negocio.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 40px 0px;
}
.bussines__container {
	display: grid;
	grid-template-columns: 1fr 10px 1fr;
	gap: 10px;
}
.bussines__container-left {
	display: flex;
	flex-direction: column;
}
.bussines__container-left h3 {
	font-family: CenturyBOLD;
	font-size: 3rem;
	color: var(--yellow);
	line-height: 1;
}
.bussines__container-left article {
	text-align: justify;
	font-size: 1.4rem;
	color: white;
	padding: 15px;
	background-color: var(--black);
	border-radius: 8px;
}
.bussines__container-left span {
	display: block;
	align-self: flex-end;
	height: 5px;
	width: 60%;
	margin: 15px 0px;
	background-color: #454545;
	border-radius: 4px;
}
.bussines__container-left a {
	align-self: flex-end;
	font-size: 2.4rem;
	color: white;
}
.bussines__container-left a > i {
	font-size: 2.4rem;
	color: var(--yellow);
}
.bussines__container-right {
	display: grid;
	grid-column-start: 3;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 110px 150px;
	gap: 20px;
}
.bussines__container-right h2 {
	color: white;
	grid-column-start: 1;
	grid-column-end: 4;
	font-family: CenturyBOLD;
	font-size: 6rem;
	line-height: 0.8;
}
.bussines__cards {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: CenturyBOLD;
	font-size: 1.6rem;
	text-align: center;
	color: white;
	padding: 20px;
	background-color: var(--black);
	border-radius: 8px;
	box-shadow: 3px 3px 0px 1px rgb(21, 21, 21);
	transition: all 0.3s ease-in;
}
.bussines__img {
	width: 80px;
	height: 80px;
	margin-top: 10px;
	object-fit: contain;
}
.bussines__img-mobile {
	display: none;
}
.bussines__cards:hover {
	background-color: var(--yellow);
	color: var(--black);
}
.bussines__cards:hover > .bussines__img-mobile {
	display: block;
}
.bussines__cards:hover > .bussines__img-desk {
	display: none;
}
.bussines__title-mobile {
	display: none;
}
.myBussines__mobile {
	display: none;
}
@media (max-width: 1050px) {
	.bussines__container-left span,
	.bussines__container-left article,
	.bussines__container-left a,
	.bussines__container-right {
		display: none;
	}

	.bussines__container-left h3 {
		text-align: center;
		font-size: 2rem;
	}
	.bussines__title-mobile {
		display: block;
		font-family: CenturyBOLD;
		font-size: 3.2rem;
		line-height: 1;
		color: white;
		text-align: center;
		margin-bottom: 20px;
	}
	.myBussines__mobile {
		display: block;
		width: 100%;
		margin-top: 20px;
	}
	.myBussines__mobile .bussines__cards {
		width: 210px !important;
	}
	.bussines__container,
	.news__container {
		grid-template-columns: 1fr;
	}
	.bussines__cards.swiper-slide-active {
		background-color: var(--yellow);
		color: var(--black);
	}
}
